* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
    color: black;
    font-family: PT serif;
}

a:hover {
    text-decoration: underline;
    padding: 5px;
}

header h1 a:hover {
    text-decoration: none;
    padding: 0px;
}

a { 
    color: brown;
    text-decoration: none;
}

/*GRILLA*/

.contenedor-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

.encabezado {
    grid-column: 1/5;
}

.item-1 { 
    display: grid;
    grid-column: 1/5;
}

.contenido {
    display: grid;
    grid-column: 1/4;
}

.publicidad {
    display: grid;
}

.pie {
    display: grid;
    grid-column: 1/5;
}





header {
    width: 90%;
    height: 8vh;
    margin: auto;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style:oblique;
    background-color:  blanchedalmond;

}

ul {
    display: flex;
    list-style: none;
}

ul li { 
    padding: 10px;
}

.hero {
    width: 100%;
    height: 92vh;
    background-color: #b95523;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),url(../images/biblioteca.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;


}

.hero a {  
    color: white;
    background-color: #b95523;
    padding: 10px;
    border-radius: 10%;
    margin-top: 10px;
}


/**PRODUCTOS**/

.productos {
    padding: auto;
}

.productos-titulo h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: blanchedalmond;
}

.productos ul {
    width: 100%;
    background-color: rgb(229, 198, 151);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.productos li img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.91);
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.91);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.91);

}

.productos ul li a img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
}


.productos img {
    width: 150px;
    height: 200px;
}

/**PRODUCTOS HTML**/


.caja-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caja-grid a {
    color: white;
}

.caja-grid a:hover {
    text-decoration: none;
    padding: 0;
    color: white;
    transform: scale(1.5);
    transition: 0.3s ease-in;
}

.caja-1 {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),url(../images/romance.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

.caja-2 {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),url(../images/educativos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

.caja-3 {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),url(../images/ficcion.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.caja-4 {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),url(../images/recientes.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/**CATEGORIAS**/

.caja-grid-categoria {
    height: 1300px;
    background-color: #b95523   ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.caja-grid-categoria a:hover {
    text-decoration: none;
    padding: 0;
}

.caja-grid-categoria div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.caja-grid-categoria img {
    height: 250px;
    width: 200px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.91);
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.91);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.91);
}

.caja-grid-categoria img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.final {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 30px ;
}

.final p a {
    color: white;
    background-color: #b95523;
    padding: 10px;
    border-radius: 10%;
}

/*ASIDE*/

aside {
    background-color: rgb(212, 141, 60);
    display: flex;
}

.publicidad section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    background-color: rgb(212, 141, 60);
}

.publicidad section h1 {
    display: flex;
    justify-content: center;
}

.publicidad section input {
    padding: 5px;
    border: solid #e4964d;
}

.publicidad section div {
    display: flex;
    justify-content: center;
}

.publicidad section div a {
    color: white;
    background-color: #b95523;
    border-radius: 5%;
    margin-top: 5px;
    width: 30%;
    display: flex;
    justify-content: center;

}

.publicidad section a:hover {
    padding: 0;
}

.publicidad .descuentos {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.publicidad .descuentos a img {
    height: 150px;
    width: 250px;
}

footer {
    background-color: rgb(112, 110, 110);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes {
    display: flex;
    justify-content: space-around;

}

.pie p {
    display: flex;
    justify-content: center;
}

footer img {
    width: 20px;
    height: 25px;
}

.pie :hover {
    padding: 0;
    color: white;
}

/**MEDIA Q**/


@media screen and (max-width: 1175px) {
    .productos ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 1050px) {

    .caja-grid-categoria {
        height: 1600px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}



@media screen and (max-width: 1010px) {
    .productos ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 860px) {

    .caja-grid-categoria {
        height: 2300px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width: 850px) {
    aside {
        width: 100%;
        display: grid;
        grid-column: 1/5;
    }

    .contenido {
        display: grid;
        grid-column: 1/5;
    }

    .productos {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .publicidad section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 400px;
}

    .publicidad section h1 {
        display: grid;
    }

    .publicidad section input {
        display: grid;
        grid-column: 1/5;
    }

    .publicidad section .enviar {
        display: grid;
        grid-column: 1/5;
    }

    .publicidad section .enviar a {
        color: black;
        background-color:  rgb(212, 141, 60);
    }

    .publicidad section .descuentos img {
        width: 150px;
        height: 100px;
    }

    .publicidad section .descuentos {
        width: 700px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}@media screen and (max-width: 765px) {
    .publicidad section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .publicidad section input {
        width: 400px;
    }

    .publicidad section .descuentos {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 755px) {
    .publicidad section {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
    }
}
    
@media screen and (max-width: 730px){
    .publicidad section {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .publicidad section .descuentos {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}


@media screen and (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        height: 10vh;
        width: 90%;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 655px) {

    .caja-grid-categoria {
        height: 3300px;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 600px) {

    .caja-grid {
        grid-template-columns: 1fr;
    }
    
}


@media screen and (max-width: 560px) {
    .publicidad section {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .publicidad section .descuentos {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .productos ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero h2 {
        text-align: center;
    }

}


@media screen and (max-width: 435px) {

    .caja-grid-categoria {
        height: 5800px;
        grid-template-columns: 1fr;
    }
    
}


@media screen and (max-width: 415px) {

    aside {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .publicidad section input {
        width: 300px;
    }

    .publicidad section .descuentos a img {
        height: 100px;
        width: 120px;
        padding: 0;
    }
}

@media screen and (max-width: 340px) {
    
    header {
        text-align: center;
        width: 90%;
        height: 250px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 355px) {
    .productos ul {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 315px) {

    .publicidad {
        height: 150px;
    }

    .publicidad section input {
        width: 200px;
    }

    .publicidad section h1 {
        text-align: center;
    }

    .publicidad section .enviar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .publicidad section .descuentos a img {
        height: 0px;
        width: 0px;
        padding: 0;
    }

}


@media screen and (max-width: 305px) {

}